<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string></string>
		<key>text</key>
		<string>申请第三方鉴定</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>text</key>
		<string>律师咨询</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>text</key>
		<string>帮助</string>
	</dict>
	<dict>
		<key>icon</key>
		<string></string>
		<key>text</key>
		<string>设置</string>
	</dict>
</array>
</plist>
