<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>序列号1</string>
			<key>state</key>
			<false/>
			<key>content</key>
			<array>
				<string>老万</string>
				<string>民事案件</string>
				<string>男</string>
				<string>12345678910111213</string>
				<string>13161376123</string>
				<string>北京市海淀区</string>
				<string>北京</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>序列号2</string>
			<key>state</key>
			<false/>
			<key>content</key>
			<array>
				<string>小李子</string>
				<string>刑事案件</string>
				<string>男</string>
				<string>1312223443222289992</string>
				<string>18201465509</string>
				<string>天津南开区</string>
				<string>天津</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>序列号1</string>
			<key>state</key>
			<string>NO</string>
			<key>content</key>
			<array>
				<string>张三</string>
				<string>民事案件</string>
				<string>男</string>
				<string>1333495995940003030</string>
				<string>14324325214321</string>
				<string>北京</string>
				<string>北京牛逼公司</string>
			</array>
		</dict>
	</array>
</array>
</plist>
